<wm-page data-ng-controller="LocationIntegrationPayerPageController" pagetitle="Location Integration Payer" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="containerPaginationPrefix">
                <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown"></wm-select>
                <wm-table title="Payers List" dataset="bind:Variables.stvLocationIntegrationPayer.dataSet" navigation="Basic" name="stvLocationIntegrationPayer" navigationalign="right">
                    <wm-table-column binding="payer.name" caption="bind:appLocale.LABEL_PAYER_NAME" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="payer.type" caption="bind:appLocale.LABEL_TYPE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="payerNetwork.network" caption="bind:appLocale.LABEL_NETWORK" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="payerContract.contractName" caption="bind:appLocale.LABEL_CONTRACT_NAME" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="payerContractDetails.allowable" caption="bind:appLocale.LABEL_ALLOWABLE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="payerContract.startDate" caption="bind:appLocale.LABEL_START_DATE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="payerContract.endDate" caption="bind:appLocale.LABEL_END_DATE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_PAYER" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_PAYER" action="Widgets.dialogManageLocIntpayer.open()"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="Widgets.dialogManageLocIntpayer.open()" disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="viewLocIntPayer">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Payer Details" iconclass="wi wi-file-text" name="dialogManageLocIntpayer">
            <wm-dialogactions name="dialogactions2">
                <wm-button class="btn-default" caption="Cancel" type="button" margin="unset 0.5em" name="buttonCancel" on-click="Widgets.dialogManageLocIntpayer.close()"></wm-button>
                <wm-button class="btn-primary" caption="Save" name="buttonSave" type="submit"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.stvLocationIntegrationPayer.dataSet" captionalign="left" name="stvLocIntePayerForm">
                <wm-layoutgrid columns="1" name="layoutgrid9">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                            <wm-form-field name="payer.type" key="payer.type" displayname="bind:appLocale.LABEL_TYPE" show="true" type="string" widget="select" required="true" dataset="bind:Variables.stvPayerTypes.dataSet"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn name="gridcolumn2" columnwidth="12">
                            <wm-form-field name="payer.name" key="payer.name" displayname="bind:appLocale.LABEL_PAYER_NAME" show="true" type="string" widget="text" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn name="gridcolumn3" columnwidth="12">
                            <wm-form-field name="payer.nameFromEhr" key="payer.nameFromEhr" displayname="bind:appLocale.LABEL_NAME_FROM_EHR" show="true" type="string" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn name="gridcolumn4" columnwidth="12">
                            <wm-form-field name="payer.description" key="payer.description" displayname="bind:appLocale.LABEL_DESCRIPTION" show="true" type="string" widget="textarea"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn name="gridcolumn5" columnwidth="12">
                            <wm-form-field name="payer.defaultNpi" key="payer.defaultNpi" displayname="bind:appLocale.LABEL_DEFAULT_NPI" show="true" type="string" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn name="gridcolumn6" columnwidth="12">
                            <wm-form-field name="payerNetwork" key="payerNetwork" displayname="bind:appLocale.LABEL_NETWORK" show="true" type="string" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn name="gridcolumn7" columnwidth="12">
                            <wm-form-field name="payerNetwork.networkCodeFromEhr" key="payerNetwork.networkCodeFromEhr" displayname="bind:appLocale.LABEL_NETWORK_CODE_FROM_EHR" show="true" type="string" widget="text" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn name="gridcolumn8" columnwidth="12">
                            <wm-form-field name="payerContract.contractName" key="payerContract.contractName" displayname="bind:appLocale.LABEL_CONTRACT_NAME" show="true" type="string" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn name="gridcolumn9" columnwidth="12">
                            <wm-form-field name="payerContract.description" key="payerContract.description" displayname="bind:appLocale.LABEL_DESCRIPTION" show="true" type="string" widget="textarea"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow10">
                        <wm-gridcolumn name="gridcolumn10" columnwidth="12">
                            <wm-form-field name="payerContract.startDate" key="payerContract.startDate" displayname="bind:appLocale.LABEL_START_DATE" show="true" type="string" widget="date"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow11">
                        <wm-gridcolumn name="gridcolumn11" columnwidth="12">
                            <wm-form-field name="payerContract.endDate" key="payerContract.endDate" displayname="bind:appLocale.LABEL_END_DATE" show="true" type="string" widget="date"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow12">
                        <wm-gridcolumn name="gridcolumn12" columnwidth="12">
                            <wm-form-field name="payerContractDetails.allowable" key="payerContractDetails.allowable" displayname="bind:appLocale.LABEL_ALLOWABLE" show="true" type="string" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow13">
                        <wm-gridcolumn name="gridcolumn13" columnwidth="12">
                            <wm-form-field name="payerContractDetails.description" key="payerContractDetails.description" displayname="bind:appLocale.LABEL_DESCRIPTION" show="true" type="string" widget="textarea"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>