<wm-page data-ng-controller="MasterDataConfigPageController" pagetitle="Master Data Config" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <!--<wm-breadcrumb dataset="bind:Variables.stvBreadcrumb.dataSet" name="breadcrumb" itemlabel="label" itemicon="icon" itemlink="link"></wm-breadcrumb>-->
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-table name="configListTable" title="bind:appLocale.LABEL_CONFIGURATION_LIST" dataset="bind:Variables.configList.dataSet" navigation="Basic" on-beforedatarender="configListTableBeforedatarender($scope, $data, $columns)" navigationalign="right" on-datarender="configListTableDatarender($scope, $data)">
                    <wm-table-column binding="configKey" caption="bind:appLocale.LABEL_KEY" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="configName" caption="bind:appLocale.LABEL_NAME" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="dataType" caption="bind:appLocale.LABEL_DATA_TYPE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="configDescription" caption="bind:appLocale.LABEL_DESCRIPTION" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_CONFIG" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRowAction($event);Widgets.dialogManageConfigSettings.open()" shortcutkey="" disabled="false"
                        widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="" action="updaterowAction($event);Widgets.dialogManageConfigSettings.open()" disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="viewManageConfigSettings">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:appLocale.LABEL_CONFIG_SETTINGS" iconclass="wi wi-settings" name="dialogManageConfigSettings">
            <wm-layoutgrid name="layoutgrid1">
                <!--<wm-gridrow name="gridrow1"><wm-gridcolumn columnwidth="12" name="gridcolumn1"><wm-composite name="composite1"><wm-label class="col-md-3 control-label" name="label5" caption="bind:appLocale.LABEL_CONFIG_KEY" required="true"></wm-label><wm-container class="col-md-9" name="container1"><wm-text name="textConfigkey" datavalue="bind:Variables.stvEditConfig.dataSet.configKey"></wm-text></wm-container></wm-composite></wm-gridcolumn></wm-gridrow><wm-gridrow name="gridrow3"><wm-gridcolumn columnwidth="12" name="gridcolumn5"><wm-composite name="composite2"><wm-label class="col-md-3 control-label" name="label6" caption="bind:appLocale.LABEL_CONFIG_NAME" required="true"></wm-label><wm-container class="col-md-9" name="container2"><wm-text name="textConfigName" datavalue="bind:Variables.stvEditConfig.dataSet.configName"></wm-text></wm-container></wm-composite></wm-gridcolumn></wm-gridrow><wm-gridrow name="gridrow4"><wm-gridcolumn columnwidth="12" name="gridcolumn6"><wm-composite name="composite3"><wm-label class="col-md-3 control-label" name="label7" caption="bind:appLocale.LABEL_DATA_TYPE" required="true"></wm-label><wm-container class="col-md-9" name="container3"><wm-text name="textDataType" datavalue="bind:Variables.stvEditConfig.dataSet.dataType"></wm-text></wm-container></wm-composite></wm-gridcolumn></wm-gridrow><wm-gridrow name="gridrow5"><wm-gridcolumn columnwidth="12" name="gridcolumn7"><wm-composite name="composite4"><wm-label class="col-md-3 control-label" name="label8" caption="bind:appLocale.LABEL_CONFIG_DESCRIPTION" required="true"></wm-label><wm-container class="col-md-9" name="container4"><wm-text name="textConfigDescription" datavalue="bind:Variables.stvEditConfig.dataSet.configDescription"></wm-text></wm-container></wm-composite></wm-gridcolumn></wm-gridrow>-->
                <wm-gridrow name="gridrow5_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn5_1">
                        <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.CreateConfigInvoke.dataSet" captionalign="left" name="createConfigForm" on-submit="createConfigFormSubmit($event, $scope, $formData)">
                            <wm-layoutgrid columns="1" name="layoutgrid2">
                                <wm-gridrow name="gridrow7">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn6_1">
                                        <wm-form-field name="textConfigKey" readonly="false" displayname="bind:appLocale.LABEL_KEY" key="RequestBody.configKey" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true" maxchars="25" defaultvalue="bind:Variables.stvEditConfig.dataSet.configKey"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow8">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn7_1">
                                        <wm-form-field name="textConfigName" readonly="false" displayname="bind:appLocale.LABEL_NAME" key="RequestBody.configName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true" maxchars="50" defaultvalue="bind:Variables.stvEditConfig.dataSet.configName"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow9">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                                        <wm-form-field name="textDataType" readonly="false" displayname="bind:appLocale.LABEL_DATA_TYPE" key="RequestBody.dataType" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true" maxchars="25" defaultvalue="bind:Variables.stvEditConfig.dataSet.dataType"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow10">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                                        <wm-form-field name="textConfigDescription" readonly="false" displayname="bind:appLocale.LABEL_DESCRIPTION" key="RequestBody.configDescription" type="string" show="true" widget="textarea" placeholder="Enter value" maxchars="250" updateon="default" defaultvalue="bind:Variables.stvEditConfig.dataSet.configDescription"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-form>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CLOSE" on-click="closeDialog()" name="buttonClose"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="buttonSave" on-click="buttonSaveClick($event, $scope)"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>