<wm-page data-ng-controller="IntegrationServicesPageController" pagetitle="Integration Services" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <!--<wm-breadcrumb dataset="bind:Variables.stvBreadCrumb.dataSet" name="breadcrumb" itemlabel="label" itemicon="icon" itemlink="link"></wm-breadcrumb>-->
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-table name="integrationServiceListTable" title="bind:Variables.getIntegrationById.dataSet.integrationName+': '+appLocale[&quot;LABEL_INTEGRATION_SERVICE_LIST&quot;]" dataset="bind:Variables.integrationServiceList.dataSet"
                    navigation="Basic" on-beforedatarender="integrationServiceListTableBeforedatarender($scope, $data, $columns)" navigationalign="right" on-datarender="integrationServiceListTableDatarender($scope, $data)">
                    <wm-table-column binding="integrationSvcName" caption="bind:appLocale.LABEL_SERVICE_NAME" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="integrationSvcType" caption="bind:appLocale.LABEL_SERVICE_TYPE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="integrationSvcEndPoint" caption="bind:appLocale.LABEL_END_POINT" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_INTEGRATION_SERVICE" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_INTEGRATION_SERVICE" action="addNewRowAction($event);Widgets.integrationServicesDialog.open()"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="bind:appLocale.LABEL_UPDATE_INTEGRATION" action="updaterowAction($event);Widgets.integrationServicesDialog.open()"
                        disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:Variables.getIntegrationById.dataSet.integrationName+': '+appLocale[&quot;LABEL_INTEGRATION_SERVICE&quot;]" iconclass="wi wi-file-text" name="integrationServicesDialog">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="cancelButton"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="createIntegrationServiceForm" on-submit="createIntegrationServiceFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-form-field name="textIntegrationSvcName" readonly="false" displayname="bind:appLocale.LABEL_SERVICE_NAME" key="RequestBody.integrationSvcName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"
                                required="true" maxchars="25" defaultvalue="bind:Variables.stvEditIntegrationService.dataSet.integrationSvcName"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                            <wm-form-field name="textItegrationSvcType" readonly="false" displayname="bind:appLocale.LABEL_SERVICE_TYPE" key="RequestBody.integrationSvcType" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"
                                required="true" maxchars="25" defaultvalue="bind:Variables.stvEditIntegrationService.dataSet.integrationSvcType"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                            <wm-form-field name="textIntegrationSvcEndPoint" readonly="false" displayname="bind:appLocale.LABEL_END_POINT" key="RequestBody.integrationSvcEndPoint" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"
                                maxchars="250" required="true" defaultvalue="bind:Variables.stvEditIntegrationService.dataSet.integrationSvcEndPoint"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                            <wm-form-field name="textareaIntegrationSvcDesc" readonly="false" displayname="bind:appLocale.LABEL_DESCRIPTION" key="RequestBody.integrationSvcDescription" type="string" show="true" widget="textarea" inputtype="text" placeholder="Enter value"
                                maxchars="250" defaultvalue="bind:Variables.stvEditIntegrationService.dataSet.integrationSvcDescription"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>