<wm-page data-ng-controller="MasterDataPharmacyPageController" pagetitle="Master Data Pharmacy" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown"
                    on-change="selectRecordsChange($event, $scope, newVal, oldVal)"></wm-select>
                <wm-table name="pharmacyTable" title="bind:appLocale.LABEL_MASTER_DATA +'-'+appLocale.LABEL_PHARMACY" dataset="bind:Variables.pharmacyList.dataSet" navigation="Basic" on-beforedatarender="pharmacyTableBeforedatarender($scope, $data, $columns)"
                    navigationalign="right" on-datarender="assetListTableDatarender($scope, $data)">
                    <wm-table-column binding="name" caption="bind:appLocale.LABEL_NAME" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="address" caption="bind:appLocale.LABEL_ADDRESS" width="20%" edit-widget-type="text" type="string" searchable="false" show="true" readonly="false">
                        <wm-label caption="{{row.getProperty('address1')+' '+row.getProperty('address2')}}" class="" data-ng-class=""></wm-label>
                    </wm-table-column>
                    <wm-table-column binding="city" caption="bind:appLocale.LABEL_CITY" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="state" caption="bind:appLocale.LABEL_STATE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="zip" caption="bind:appLocale.LABEL_ZIP" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="storePhone" caption="bind:appLocale.LABEL_STORE_PHONE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="storeFax" caption="bind:appLocale.LABEL_STORE_FAX" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_PHARMACY" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="Widgets.pharmacyDialog.open();addNewRowAction($event)" shortcutkey=""
                        disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="Edit" action="Widgets.pharmacyDialog.open();updaterowAction($event)" disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="pharmacyView">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:appLocale.LABEL_PHARMACY" iconclass="wi wi-file-text" name="pharmacyDialog" width="50%">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="buttonCancel"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="buttonSave" on-click="buttonSaveClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="pharmacyForm" on-submit="pharmacyFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid2">
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                            <wm-form-field name="nameText" readonly="false" displayname="bind:appLocale.LABEL_NAME" key="RequestBody.name" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true" defaultvalue="bind:Variables.stvEditPharmacy.dataSet.name"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                            <wm-form-field name="address1Text" readonly="false" displayname="bind:appLocale.LABEL_ADDRESS_1" key="RequestBody.address1" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true" defaultvalue="bind:Variables.stvEditPharmacy.dataSet.address1"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                            <wm-form-field name="address2Text" readonly="false" displayname="bind:appLocale.LABEL_ADDRESS_2" key="RequestBody.address2" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="false" defaultvalue="bind:Variables.stvEditPharmacy.dataSet.address2"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                            <wm-form-field name="cityText" readonly="false" displayname="bind:appLocale.LABEL_CITY" key="RequestBody.city" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true" defaultvalue="bind:Variables.stvEditPharmacy.dataSet.city"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                            <wm-form-field name="stateText" readonly="false" displayname="bind:appLocale.LABEL_STATE_ID" key="RequestBody.state" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true" defaultvalue="bind:Variables.stvEditPharmacy.dataSet.state"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow10">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                            <wm-form-field name="zipText" readonly="false" displayname="bind:appLocale.LABEL_ZIP" key="RequestBody.zip" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditPharmacy.dataSet.zip"
                                required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow11">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                            <wm-form-field name="storeFaxText" readonly="false" displayname="bind:appLocale.LABEL_STORE_FAX" key="RequestBody.storeFax" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true" defaultvalue="bind:Variables.stvEditPharmacy.dataSet.storeFax"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow12">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                            <wm-form-field name="storePhoneText" readonly="false" displayname="bind:appLocale.LABEL_STORE_PHONE" key="RequestBody.storePhone" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditPharmacy.dataSet.storePhone"
                                required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>