<wm-page data-ng-controller="LocationIntegrationConfigPageController" pagetitle="Location Integarion Config" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown"
                    on-change="selectRecordsChange($event, $scope, newVal, oldVal)"></wm-select>
                <wm-table name="stvLocIntegConfigListTable" title="bind:appLocale.LABEL_CONFIGURATION_LIST" dataset="bind:Variables.stvLocIntegConfigList.dataSet" navigation="Basic" showrecordcount="true" navigationalign="right">
                    <wm-table-column binding="integration" caption="bind:appLocale.LABEL_INTEGRATION" width="200px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="service" caption="bind:appLocale.LABEL_SERVICE" width="200px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="key" caption="bind:appLocale.LABEL_KEY" width="100px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="value" caption="bind:appLocale.LABEL_VALUE" width="120px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="status" caption="bind:appLocale.LABEL_STATUS" width="250px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_CONFIGURATION" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="Widgets.locIntegConfigDialog.open()" shortcutkey=""
                        disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="Edit" action="Widgets.locIntegConfigDialog.open()" disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="viewlocIntegConfig">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Information" iconclass="wi wi-file-text" name="locIntegConfigDialog" width="50%">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="cancelButton"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="stvLocIntegConfigForm" on-submit="stvLocIntegConfigFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid4">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                            <wm-form-field name="serviceSelect" key="custom" displayname="bind:appLocale.LABEL_SERVICE" show="true" type="string" widget="select" inputtype="text" placeholder="Enter value" required="true" dataset="1,2,3" datafield="All Fields"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn name="gridcolumn2" columnwidth="12">
                            <wm-form-field name="keyText" key="custom1" displayname="bind:appLocale.LABEL_KEY" show="true" type="string" widget="text" inputtype="text" placeholder="Enter value" required="true" maxchars="30"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn name="gridcolumn3" columnwidth="12">
                            <wm-form-field name="valueText" key="custom2" displayname="bind:appLocale.LABEL_VALUE" show="true" type="string" widget="text" inputtype="text" placeholder="Enter value" required="true" maxchars="50"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn name="gridcolumn4" columnwidth="12">
                            <wm-form-field name="descTextArea" key="custom3" displayname="bind:appLocale.LABEL_DESCRIPTION" show="true" type="string" widget="textarea" inputtype="text" placeholder="Enter value" required="true" maxchars="250"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn name="gridcolumn5" columnwidth="12">
                            <wm-form-field name="statusSelect" key="custom4" displayname="bind:appLocale.LABEL_STATUS" show="true" type="string" widget="select" inputtype="text" placeholder="Enter value" dataset="bind:Variables.stvStatus.dataSet"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>