<wm-page data-ng-controller="LocationIntegrationProviderPageController" pagetitle="Location Integration Provider" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown"
                    on-change="selectRecordsChange($event, $scope, newVal, oldVal)"></wm-select>
                <wm-table name="stvLocIntgProviderListTable" title="bind:appLocale.LABEL_PROVIDER_LIST" dataset="bind:Variables.stvLocIntgProviderList.dataSet" navigation="Basic" navigationalign="right">
                    <wm-table-column binding="firstName" caption="bind:appLocale.LABEL_FIRST_NAME" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="lastName" caption="bind:appLocale.LABEL_LAST_NAME" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="npi" caption="bind:appLocale.LABEL_NPI" width="100px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="ehrSystemPhysicianId" caption="bind:appLocale.LABEL_EHR_PHYSICIAN_ID" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="phoneWork" caption="bind:appLocale.LABEL_WORK_PHONE" width="120px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="emailId" caption="bind:appLocale.LABEL_EMAIL_ID" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="status" caption="bind:appLocale.LABEL_STATUS" width="120px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_PROVIDER" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_PROVIDER" action="Widgets.LocIntegProviderDialog.open()"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="Edit" action="Widgets.LocIntegProviderDialog.open()" disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="locIntegProviderView">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:appLocale.LABEL_PROVIDER" iconclass="wi wi-file-text" name="LocIntegProviderDialog" width="50%">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="button1"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="stvLocIntgProviderForm" on-submit="stvLocIntgProviderFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid3">
                    <wm-gridrow name="gridrow17_1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn19">
                            <wm-label padding="0em unset 0em 0.6em" caption="bind:appLocale.LABEL_PROVIDER" class="h3" fontweight="bold" margin="0px unset" textalign="left" name="label4"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow10">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                            <wm-form-field name="textFirstName" readonly="false" displayname="bind:appLocale.LABEL_FIRST_NAME" key="firstName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true" maxchars="25"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow11">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                            <wm-form-field name="textLastName" readonly="false" displayname="bind:appLocale.LABEL_LAST_NAME" key="lastName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" maxchars="25" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow12">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                            <wm-form-field name="textDOB" readonly="false" displayname="bind:appLocale.LABEL_DOB" key="dob" type="string" show="true" widget="date" inputtype="text" placeholder="dd-mm-yyyy" required="false" maxchars="25"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow13">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn12">
                            <wm-form-field name="selectGender" key="gender" type="integer" displayname="bind:appLocale.LABEL_GENDER" widget="select" show="true" placeholder="Select value" dataset="Male,Female" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow15">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn14">
                            <wm-form-field name="npiText" key="npi" displayname="bind:appLocale.LABEL_NPI" show="true" type="string" widget="text" inputtype="text" placeholder="Enter value" maxchars="50"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow16">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn15">
                            <wm-form-field name="ssnText" key="ssn" displayname="bind:appLocale.LABEL_SSN" show="true" type="string" widget="text" inputtype="text" placeholder="Enter value" maxchars="12"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow17">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn16">
                            <wm-form-field name="ehrSystemPhysicianIdText" key="ehrSystemPhysicianId" displayname="bind:appLocale.LABEL_EHR_PHYSICIAN_ID" show="true" type="string" widget="text" inputtype="text" placeholder="Enter value" autofocus="autofocus"
                                maxchars="50" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                            <wm-form-field name="specialityKeywordsTextarea" readonly="false" displayname="bind:appLocale.LABEL_SPECIALITY_KEYWORDS" key="specialityKeywords" type="string" show="true" widget="textarea" placeholder="Enter value" required="false"
                                maxchars="250"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="3">
                            <wm-label padding="unset 0.5em unset 1em" name="label3" caption="bind:appLocale.LABEL_PROFILE_IMAGE"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn2" columnwidth="3">
                            <wm-picture name="profileImagePicture"></wm-picture>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn2" columnwidth="6">
                            <wm-fileupload name="chooseFileUpload" service="FileService" operation="uploadFile" caption="Choose File" iconclass=""></wm-fileupload>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow14">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn13">
                            <wm-label padding="0em unset 0em 0.6em" name="Phone" caption="bind:appLocale.LABEL_CONTCAT_DETAILS" class="h3" fontweight="bold" margin="0px unset" textalign="left"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                            <wm-form-field name="addressLine1Text" key="addressLine1" displayname="Address Line1" show="true" type="string" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                            <wm-form-field name="textaddressLine1" readonly="false" displayname="bind:appLocale.LABEL_ADDRESS_LINE2" key="addressLine1" type="string" show="true" widget="text" inputtype="text" placeholder="" maxchars="100"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn name="gridcolumn2" columnwidth="12">
                            <wm-form-field name="cityText" readonly="false" displayname="bind:appLocale.LABEL_CITY" key="phoneWork" type="string" show="true" widget="text" inputtype="text" placeholder="" maxchars="50" required="false" autocomplete="false"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn name="gridcolumn3" columnwidth="12">
                            <wm-form-field name="selectState" key="state" displayname="State" show="true" type="string" widget="select" required="true" placeholder="Select value" dataset="bind:Variables.stateList.dataSet" displayfield="stateName" datafield="id"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn name="gridcolumn4" columnwidth="12">
                            <wm-form-field name="zipCodeText" readonly="false" displayname="bind:appLocale.LABEL_ZIP_CODE" key="zipCode" type="string" show="true" widget="text" inputtype="text" placeholder="" required="false" maxchars="10" autocomplete="false"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn name="gridcolumn5" columnwidth="12">
                            <wm-form-field name="selectStatus" key="status" displayname="bind:appLocale.LABEL_STATUS" show="true" type="string" widget="select" placeholder="Select value" dataset="bind:Variables.stvStatus.dataSet" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>