<wm-page data-ng-controller="MasterDataCodesetPageController" pagetitle="Master Data Codeset" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown"
                    on-change="selectRecordsChange($event, $scope, newVal, oldVal)"></wm-select>
                <wm-table title="bind:appLocale.LABEL_MASTER_DATA+'-'+appLocale.LABEL_CODESET" dataset="bind:Variables.codesetList.dataSet" navigation="Basic" name="masterDataCodesetTable" navigationalign="right">
                    <wm-table-column binding="value" caption="bind:appLocale.LABEL_VALUE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="type" caption="bind:appLocale.LABEL_TYPE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="description" caption="bind:appLocale.LABEL_DESCRIPTION" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="friendlyName" caption="bind:appLocale.LABEL_FRIENDLY_NAME" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_CODESET" show="true" class="btn-primary" iconclass="wi wi-plus" title="" action="Widgets.masterDataCodesetDialog.open();addNewRowAction($event)"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="bind:appLocale.LABEL_EDIT" action="Widgets.masterDataCodesetDialog.open();updaterowAction($event)"
                        disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="masterDataCodesetView">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:appLocale.LABEL_CODESET" iconclass="wi wi-file-text" name="masterDataCodesetDialog">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="cancelButton"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="masterDataCodesetForm" on-submit="masterDataCodesetFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid2">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                            <wm-form-field name="typeSelect" key="type" displayname="bind:appLocale.LABEL_TYPE" show="true" type="string" widget="select" dataset="bind:Variables.stvCodesetType.dataSet" datafield="key" displayfield="value" required="true"
                                defaultvalue="bind:Variables.stvEditCodeset.dataSet.type"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                            <wm-form-field name="valueText" key="value" displayname="bind:appLocale.LABEL_VALUE" show="true" type="string" required="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditCodeset.dataSet.value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn name="gridcolumn2" columnwidth="12">
                            <wm-form-field name="descriptionText" key="description" displayname="bind:appLocale.LABEL_DESCRIPTION" show="true" type="string" widget="textarea" defaultvalue="bind:Variables.stvEditCodeset.dataSet.description"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn name="gridcolumn3" columnwidth="12">
                            <wm-form-field name="friendlyNameTextArea" key="friendlyName" displayname="bind:appLocale.LABEL_FRIENDLY_NAME" show="true" type="string" widget="text" required="true" defaultvalue="bind:Variables.stvEditCodeset.dataSet.friendlyName"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>