<wm-page data-ng-controller="MasterSettingsContactTypesPageController" pagetitle="Master Settings Contact Types" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <!--<wm-breadcrumb dataset="bind:Variables.stvBreadcrumb.dataSet" name="breadcrumb" itemlabel="label" itemicon="icon" itemlink="link"></wm-breadcrumb>-->
            <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown"></wm-select>
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-table name="contactTypesListTable" title="Contact Types" dataset="bind:Variables.contactTypeList.dataSet" navigation="Basic" on-datarender="contactTypesListTableDatarender($scope, $data)" on-beforedatarender="contactTypesListTableBeforedatarender($scope, $data, $columns)"
                    navigationalign="right">
                    <wm-table-column binding="id" caption="bind:appLocale.LABEL_CONTACT_TYPE_ID" width="120px" edit-widget-type="number" type="integer" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="type" caption="bind:appLocale.LABEL_CONTACT_TYPE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_CONTACT_TYPE" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_CONTACT_TYPE" action="addNewRowAction($event);Widgets.contactTypeDialog.open()"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="Edit" action="updaterowAction($event);Widgets.contactTypeDialog.open()" disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:appLocale.LABEL_CONTACT_TYPE" iconclass="wi wi-contacts" name="contactTypeDialog">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="cancelButton"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="createContactTypeForm" on-submit="createContactTypeFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-form-field readonly="false" name="contactTypeText" displayname="bind:appLocale.LABEL_CONTACT_TYPE" key="RequestBody.contactType" type="string" show="true" widget="text" required="true" defaultvalue="bind:Variables.stvEditContactType.dataSet.type"
                                maxchars="50"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>