<wm-page data-ng-controller="MasterDataTimezonePageController" pagetitle="Master Data Timezone" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown"
                    on-change="selectRecordsChange($event, $scope, newVal, oldVal)"></wm-select>
                <wm-table name="timezoneTable" title="bind:appLocale.LABEL_MASTER_DATA +'-'+appLocale.LABEL_TIMEZONE" dataset="bind:Variables.timeZoneList.dataSet" navigation="Basic" on-beforedatarender="timezoneTableBeforedatarender($scope, $data, $columns)"
                    navigationalign="right" on-datarender="assetListTableDatarender($scope, $data)">
                    <wm-table-column binding="timezoneName" caption="bind:appLocale.LABEL_TIMEZONE_NAME" width="25%" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="gmtOffset" caption="bind:appLocale.LABEL_GMT_OFFSET" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_TIMEZONE" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="Widgets.timezoneDialog.open()" shortcutkey="" disabled="false"
                        icon="wi wi-plus" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="Edit" action="Widgets.timezoneDialog.open()" disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="timezoneView">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:appLocale.LABEL_TIMEZONE" iconclass="wi wi-file-text" name="timezoneDialog" width="50%">
            <wm-form errormessage="" captionposition="left" title="" method="post" captionalign="left" name="stateForm" on-submit="assetFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid3">
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                            <wm-form-field name="nameText" readonly="false" displayname="bind:appLocale.LABEL_NAME" key="RequestBody.assetUdid" type="string" show="true" widget="text" required="true" inputtype="text" placeholder="Enter value" maxchars="150"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4_1">
                            <wm-form-field name="gmtOffsetText" readonly="false" displayname="bind:appLocale.LABEL_GMT_OFFSET" key="RequestBody.assetSerialNumber" type="string" show="true" widget="text" required="true" inputtype="text" placeholder="Enter value"
                                maxchars="30"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="buttonCancel"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="buttonSave" on-click="buttonSaveClick($event, $scope)"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>