<wm-page data-ng-controller="LocIntAppointmentTypePageController" pagetitle="Loc Int Appointment Type" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown"
                    on-change="selectRecordsChange($event, $scope, newVal, oldVal)"></wm-select>
                <wm-table title="bind:Variables.clientLocationById.dataSet.locationName+': '+appLocale[&quot;LABEL_APPOINTMENT_TYPE_LIST&quot;]" dataset="bind:Variables.stvListAppointmentStatus.dataSet" navigation="Basic" name="clientLocIntAppointmentTypeTable"
                    navigationalign="right" showrowindex="false" on-beforedatarender="clientLocationIntegrationTableBeforedatarender($scope, $data, $columns)" on-datarender="clientLocationIntegrationTableDatarender($scope, $data)">
                    <wm-table-column binding="type" caption="bind:appLocale.LABEL_APPOINTMENT_TYPE" width="230px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="description" caption="bind:appLocale.LABEL_DESCRIPTION" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_APPOINTMENT_TYPE" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_APPOINTMENT_TYPE" action="addNewRowAction($event);Widgets.dialogMangeAppointmentType.open()"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="bind:appLocale.LABEL_UPDATE_INTEGRATION" action="updaterowAction($event);Widgets.dialogMangeAppointmentType.open()"
                        disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="viewMangeAppointmentType">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:Variables.clientLocationById.dataSet.locationName+': '+appLocale[&quot;LABEL_APPOINTMENT_TYPE&quot;]" iconclass="wi wi-file-text" name="dialogMangeAppointmentType" width="50%">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="button1"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="locationIntegrationForm" on-submit="locationIntegrationFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid2">
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                            <wm-form-field name="type" displayname="bind:appLocale.LABEL_TYPE" readonly="false" type="string" show="true" widget="text" inputtype="text" placeholder="bind:appLocale.LABEL_ENTER_VALUE" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                            <wm-form-field name="descriptionTextarea" readonly="false" displayname="bind:appLocale.LABEL_DESCRIPTION" key="RequestBody.locationIntegrationDescription" type="string" show="true" widget="textarea" placeholder="bind:appLocale.LABEL_ENTER_VALUE"
                                defaultvalue="bind:Variables.stvEditLocationIntegration.dataSet.locationIntegrationDescription" required="true" maxchars="250"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>