<wm-page data-ng-controller="LocationIntegrationPageController" pagetitle="Location Integration" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown" on-change="selectRecordsChange($event, $scope, newVal, oldVal)"></wm-select>
                <wm-table title="bind:Variables.clientLocationById.dataSet.locationName+': '+appLocale[&quot;LABEL_LOCATION_INTEGRATION_LIST&quot;] " dataset="bind:Variables.clientLocationIntegrationList.dataSet" navigation="Basic" name="clientLocationIntegrationTable"
                    navigationalign="right" showrowindex="false" on-beforedatarender="clientLocationIntegrationTableBeforedatarender($scope, $data, $columns)" on-datarender="clientLocationIntegrationTableDatarender($scope, $data)">
                    <wm-table-column binding="hipIntegration.integrationName" caption="bind:appLocale.LABEL_INTEGRATION_NAME" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="locationIntegrationDescription" caption="bind:appLocale.LABEL_DESCRIPTION" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="locationIntegrationStatus" caption="bind:appLocale.LABEL_STATUS" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="customField" caption="bind:appLocale.LABEL_ACTIONS" widget-type="image" width="150px" edit-widget-type="text" type="string" searchable="false" show="true" readonly="false">
                        <wm-picture height="14" width="14" picturesource="resources/images/imagelists/icon-integration-appointment-type.png" hint="{{appLocale.LABEL_APPOINTMENT_TYPE}}" on-click="Actions.goToPage_LocIntAppointmentType.invoke()" margin="unset 5px unset unset"
                            class="" data-ng-class=""></wm-picture>
                        <wm-picture height="14" width="14" picturesource="resources/images/imagelists/icon-integration-appointment-status.png" hint="{{appLocale.LABEL_APPOINTMENT_STATUS}}" on-click="Actions.goToPage_LocIntAppointmentStatus.invoke()" margin="unset 5px unset unset"
                            class="" data-ng-class=""></wm-picture>
                        <wm-picture height="14" width="14" picturesource="resources/images/imagelists/icon-integration-config.png" hint="{{appLocale.LABEL_CONFIGURATION}}" on-click="Actions.goToPage_LocationIntegrationConfig.invoke()" margin="unset 5px unset unset" class=""
                            data-ng-class=""></wm-picture>
                        <wm-picture height="14" width="14" picturesource="resources/images/imagelists/icon-integration-provider.png" hint="{{appLocale.LABEL_PROVIDERS}}" on-click="Actions.ngProvider.invoke()" margin="unset 5px unset unset" class="" data-ng-class=""></wm-picture>
                    </wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_LOCATION_INTEGRATION" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_LOCATION_INTEGRATION" action="addNewRowAction($event);Widgets.locationIntegrationDialog.open()"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                </wm-table>
            </wm-container>

        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:Variables.clientLocationById.dataSet.locationName+': '+appLocale[&quot;LABEL_LOCATION_INTEGRATION&quot;] " iconclass="wi wi-file-text" name="locationIntegrationDialog" width="50%">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="button1"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="locationIntegrationForm" on-submit="locationIntegrationFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid2">
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                            <wm-form-field name="integrationNameSelect" readonly="false" displayname="bind:appLocale.LABEL_INTEGRATION_NAME" key="RequestBody.integrationId" type="integer" show="true" widget="select" inputtype="number" placeholder="bind:appLocale.LABEL_SELECT_VALUE"
                                dataset="bind:Variables.integrationList.dataSet" datafield="integrationId" displayfield="integrationName" defaultvalue="bind:Variables.stvEditLocationIntegration.dataSet.integrationId" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                            <wm-form-field name="statusSelect" readonly="false" displayname="bind:appLocale.LABEL_STATUS" key="RequestBody.locationIntegrationStatus" type="string" show="true" widget="select" inputtype="text" placeholder="bind:appLocale.LABEL_SELECT_VALUE" defaultvalue="bind:Variables.stvEditLocationIntegration.dataSet.locationIntegrationStatus"
                                dataset="bind:Variables.stvStatusList.dataSet" datafield="key" displayfield="dataValue" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                            <wm-form-field name="descriptionTextarea" readonly="false" displayname="bind:appLocale.LABEL_DESCRIPTION" key="RequestBody.locationIntegrationDescription" type="string" show="true" widget="textarea" placeholder="Enter value" defaultvalue="bind:Variables.stvEditLocationIntegration.dataSet.locationIntegrationDescription"
                                required="true" maxchars="250"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>