<wm-page data-ng-controller="MasterDataCountryPageController" pagetitle="Master Data  Country" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown"
                    on-change="selectRecordsChange($event, $scope, newVal, oldVal)"></wm-select>
                <wm-table name="stvCountryListTable" title="bind:appLocale[&quot;LABEL_MASTER_DATA&quot;]+' '+appLocale[&quot;LABEL_COUNTRY&quot;]" dataset="bind:Variables.stvCountryList.dataSet" navigation="Basic" navigationalign="right">
                    <wm-table-column binding="name" caption="bind:appLocale[&quot;LABEL_COUNTRY&quot;]+' '+appLocale[&quot;LABEL_NAME&quot;]" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="longName" caption="bind:appLocale[&quot;LABEL_COUNTRY&quot;]+' '+appLocale[&quot;LABEL_LONG_NAME&quot;]" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="iso2" caption="bind:appLocale[&quot;LABEL_ISO&quot;]+' 2 '+appLocale[&quot;LABEL_CODE&quot;]" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="iso3" caption="bind:appLocale[&quot;LABEL_ISO&quot;]+' 3 '+appLocale[&quot;LABEL_CODE&quot;]" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale[&quot;LABEL_ADD&quot;]+' '+appLocale[&quot;LABEL_COUNTRY&quot;]" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="Widgets.countryDialog.open()"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="Edit" action="Widgets.countryDialog.open()" disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="countryView">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:appLocale.LABEL_COUNTRY" iconclass="wi wi-file-text" name="countryDialog" width="50%">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="cancelButton"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="locIntegRaceListForm" on-submit="Widgets.locIntegRaceDialog.close()">
                <wm-layoutgrid columns="1" name="layoutgrid2">
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn name="gridcolumn4" columnwidth="12">
                            <wm-form-field name="nameText" key="value" displayname="bind:appLocale[&quot;LABEL_COUNTRY&quot;]+' '+appLocale[&quot;LABEL_NAME&quot;]" show="true" type="string" widget="text" required="true"></wm-form-field>
                            <wm-form-field name="longNameText" key="value" displayname="bind:appLocale[&quot;LABEL_COUNTRY&quot;]+' '+appLocale[&quot;LABEL_LONG_NAME&quot;]" show="true" type="string" widget="text" required="true"></wm-form-field>
                            <wm-form-field name="iso2Text" key="value" displayname="bind:appLocale[&quot;LABEL_ISO&quot;]+' 2 '+appLocale[&quot;LABEL_CODE&quot;]" show="true" type="string" widget="text" required="true"></wm-form-field>
                            <wm-form-field name="iso3Text" key="value" displayname="bind:appLocale[&quot;LABEL_ISO&quot;]+' 3 '+appLocale[&quot;LABEL_CODE&quot;]" show="true" type="string" widget="text" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>