.wm-app .app-accordion.custom-accordion .app-livelist .app-livelist-container .list-group-item .app-container .app-grid-layout .col-sm-3 {
    width: 16%;
}
.wm-app .app-accordion.custom-accordion .app-livelist .app-livelist-container .list-group-item .app-container .app-grid-layout .col-sm-2 {
    width: 12%;
}
.wm-app .app-accordion.custom-accordion .app-livelist .app-livelist-container .list-group-item .app-container .app-grid-layout .col-sm-1 {
    width: 6%;
}
.wm-app .app-accordion.custom-accordion .app-livelist .app-livelist-container .list-group-item .app-container .app-grid-layout .app-grid-column img{ 
    width: 14px;
    height: 14px;
    vertical-align: super;
    margin-left: 5px;
}