<wm-page data-ng-controller="integrationPageController" pagetitle="Integration" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown" on-change="selectRecordsChange($event, $scope, newVal, oldVal)"></wm-select>
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-table name="integrationListTable" title="bind:appLocale.LABEL_INTEGRATIONS_LIST" dataset="bind:Variables.integrationList.dataSet" navigation="Basic" showrecordcount="false" navigationalign="right" on-beforedatarender="integrationListTableBeforedatarender($scope, $data, $columns)"
                    on-datarender="integrationListTableDatarender($scope, $data)">
                    <wm-table-column binding="name" caption="bind:appLocale.LABEL_NAME" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="category" caption="bind:appLocale.LABEL_CATEGORY" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="shortCode" caption="bind:appLocale.LABEL_SHORT_CODE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="authType" caption="bind:appLocale.LABEL_AUTH_TYPE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="endPoint" caption="bind:appLocale.LABEL_END_POINT" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="requestType" caption="bind:appLocale.LABEL_REQUEST_TYPE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="responseType" caption="bind:appLocale.LABEL_RESPONSE_TYPE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_INTEGRATION" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_INTEGRATION" action="addNewRowAction($event);Widgets.dialogManageIntegration.open()"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="bind:appLocale.LABEL_EDIT" action="updaterowAction($event);Widgets.dialogManageIntegration.open()"
                        disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="viewIntegration">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:appLocale.LABEL_INTEGRATION" iconclass="wi wi-file-text" name="dialogManageIntegration">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" type="button" margin="unset 0.5em" name="buttonCancel" on-click="Widgets.dialogManageIntegration.close()"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" on-click="buttonSaveClick($event, $scope)" name="buttonSave" type="submit"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="createIntegrationForm" on-submit="createIntegrationFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid2">
                    <wm-gridrow name="gridrow14">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn13">
                            <wm-form-field readonly="false" name="RequestBody_name" displayname="bind:appLocale.LABEL_NAME" key="RequestBody.name" type="string" show="true" widget="text" required="true" defaultvalue="bind:Variables.stvEditIntegration.dataSet.name"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow11">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                            <wm-form-field readonly="false" name="RequestBody_category" displayname="bind:appLocale.LABEL_CATEGORY" key="RequestBody.category" type="string" show="true" widget="select" required="true" dataset="bind:Variables.stvIntegrationCategory.dataSet"
                                datafield="dataValue" displayfield="key" defaultvalue="bind:Variables.stvEditIntegration.dataSet.category"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow17">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn16">
                            <wm-form-field readonly="false" name="RequestBody_shortCode" displayname="bind:appLocale.LABEL_SHORT_CODE" key="RequestBody.shortCode" type="string" show="true" widget="text" required="true" defaultvalue="bind:Variables.stvEditIntegration.dataSet.shortCode"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow10">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                            <wm-form-field readonly="false" name="RequestBody_authType" displayname="bind:appLocale.LABEL_AUTH_TYPE" key="RequestBody.authType" type="string" show="true" widget="text" required="true" defaultvalue="bind:Variables.stvEditIntegration.dataSet.authType"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow13">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn12">
                            <wm-form-field readonly="false" name="RequestBody_endPoint" displayname="bind:appLocale.LABEL_END_POINT" key="RequestBody.endPoint" type="string" show="true" widget="text" required="true" defaultvalue="bind:Variables.stvEditIntegration.dataSet.endPoint"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow12">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                            <wm-form-field readonly="false" name="RequestBody_description" displayname="bind:appLocale.LABEL_DESCRIPTION" key="RequestBody.description" type="string" show="true" widget="textarea" defaultvalue="bind:Variables.stvEditIntegration.dataSet.description"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow15">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn14">
                            <wm-form-field readonly="false" name="RequestBody_requestType" displayname="bind:appLocale.LABEL_REQUEST_TYPE" key="RequestBody.requestType" type="string" show="true" widget="text" required="true" defaultvalue="bind:Variables.stvEditIntegration.dataSet.requestType"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow16">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn15">
                            <wm-form-field readonly="false" name="RequestBody_responseType" displayname="bind:appLocale.LABEL_RESPONSE_TYPE" key="RequestBody.responseType" type="string" show="true" widget="text" required="true" defaultvalue="bind:Variables.stvEditIntegration.dataSet.responseType"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>