<wm-page data-ng-controller="MasterDataEmployerPageController" pagetitle="Master Data  Employer" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown" on-change="selectRecordsChange($event, $scope, newVal, oldVal)"></wm-select>
                <wm-table name="stvEmployerListTable" title="bind:appLocale[&quot;LABEL_MASTER_DATA&quot;]+' '+appLocale[&quot;LABEL_EMPLOYER&quot;]" dataset="bind:Variables.stvEmloyerList.dataSet" navigation="Basic" navigationalign="right">
                    <wm-table-column binding="name" caption="bind:appLocale[&quot;LABEL_NAME&quot;]" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="address" caption="bind:appLocale[&quot;LABEL_ADDRESS&quot;]+' 1'" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="phone" caption="bind:appLocale[&quot;LABEL_COMPANY&quot;]+' '+appLocale[&quot;LABEL_PHONE&quot;]" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="fax" caption="bind:appLocale[&quot;LABEL_COMPANY&quot;]+' '+appLocale[&quot;LABEL_FAX&quot;]" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale[&quot;LABEL_ADD&quot;]+' '+appLocale[&quot;LABEL_EMPLOYER&quot;]" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="Widgets.employerDialog.open()" shortcutkey="" disabled="false"
                        widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="Edit" action="Widgets.employerDialog.open()" disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="employerView">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:appLocale.LABEL_COMPANY" iconclass="wi wi-file-text" name="employerDialog" width="50%">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="cancelButton"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="locIntegRaceListForm" on-submit="Widgets.locIntegRaceDialog.close()">
                <wm-layoutgrid columns="1" name="layoutgrid2">
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn name="gridcolumn4" columnwidth="12">
                            <wm-form-field name="nameText" key="name" displayname="bind:appLocale[&quot;LABEL_NAME&quot;]" show="true" type="string" widget="text" required="true"></wm-form-field>
                            <wm-form-field name="address1Text" key="address1" displayname="bind:appLocale[&quot;LABEL_ADDRESS&quot;]+' 1'" show="true" type="string" widget="text" required="true"></wm-form-field>
                            <wm-form-field name="address2Text" key="address2" displayname="bind:appLocale[&quot;LABEL_ADDRESS&quot;]+' 2'" show="true" type="string" widget="text" required="true"></wm-form-field>
                            <wm-form-field name="cityText" key="city" displayname="bind:appLocale[&quot;LABEL_CITY&quot;]" show="true" type="string" widget="text" required="true"></wm-form-field>
                            <wm-form-field name="stateSelect" key="state" displayname="bind:appLocale[&quot;LABEL_STATE&quot;]+' '+appLocale[&quot;LABEL_ID&quot;]" show="true" type="string" widget="select" required="true"></wm-form-field>
                            <wm-form-field name="phoneText" key="companyPhone" displayname="bind:appLocale[&quot;LABEL_COMPANY&quot;]+' '+appLocale[&quot;LABEL_PHONE&quot;]" show="true" type="string" widget="text" required="true"></wm-form-field>
                            <wm-form-field name="faxText" key="companyFax" displayname="bind:appLocale[&quot;LABEL_COMPANY&quot;]+' '+appLocale[&quot;LABEL_FAX&quot;]" show="true" type="string" widget="text" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>