<wm-page data-ng-controller="SettingsClientLocationConfigPageController" pagetitle="Settings Client Location Config" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <!--<wm-breadcrumb dataset="bind:Variables.stvBreadcrumb.dataSet" name="breadcrumb" itemlabel="label" itemicon="icon" itemlink="link" on-beforenavigate="breadcrumbBeforenavigate($isolateScope, $item)" itemid="page"></wm-breadcrumb>-->
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-table name="clientLocationConfigListTable" title="bind:Variables.clientLocationById.dataSet.locationName+': '+appLocale[&quot;LABEL_LOCATION_CONFIGURATION&quot;]" dataset="bind:Variables.clientLocationConfigList.dataSet"
                    navigation="Basic" on-beforedatarender="clientLocationConfigListTableBeforedatarender($scope, $data, $columns)" navigationalign="right" gridclass="table-bordered" on-datarender="clientLocationConfigListTableDatarender($scope, $data)">
                    <wm-table-column binding="hipConfig.configName" caption="bind:appLocale.LABEL_KEY" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="configValue" caption="bind:appLocale.LABEL_VALUE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="configDescription" caption="bind:appLocale.LABEL_DESCRIPTION" edit-widget-type="textarea" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="configStatus" caption="bind:appLocale.LABEL_STATUS" widget-type="label" edit-widget-type="text" type="string" show="true" readonly="false">
                        <wm-label caption="{{row.getProperty('configStatus')}}" class="" data-ng-class=""></wm-label>
                    </wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_CONFIG" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_CONFIG" action="addNewRowAction($event);Widgets.dialogManageClientLocation.open()"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="bind:appLocale.LABEL_EDIT" action="updaterowAction($event);Widgets.dialogManageClientLocation.open()"
                        disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:Variables.clientLocationById.dataSet.locationName+': '+appLocale[&quot;LABEL_LOCATION_CONFIGURATION&quot;]" iconclass="wi wi-file-text" name="dialogManageClientLocation" width="50%">
            <wm-layoutgrid name="layoutgrid1">
                <!--<wm-gridrow name="gridrow1">-->
                <!--    <wm-gridcolumn columnwidth="12" name="gridcolumn1">-->
                <!--        <wm-composite name="composite6">-->
                <!--            <wm-label class="col-md-3 control-label" name="text" caption="bind:appLocale.LABEL_CONFIG_ID"></wm-label>-->
                <!--            <wm-container class="col-md-9" name="container6">-->
                <!--                <wm-select name="selectConfigId" dataset="bind:Variables.configList.dataSet" datafield="configId" displayfield="configName" orderby="configName:desc"></wm-select>-->
                <!--            </wm-container>-->
                <!--        </wm-composite>-->
                <!--    </wm-gridcolumn>-->
                <!--</wm-gridrow>-->
                <!--<wm-gridrow name="gridrow3">-->
                <!--    <wm-gridcolumn columnwidth="12" name="gridcolumn5">-->
                <!--        <wm-composite name="composite7">-->
                <!--            <wm-label class="col-md-3 control-label" name="label7" caption="bind:appLocale.LABEL_CONFIG_VALUE"></wm-label>-->
                <!--            <wm-container class="col-md-9" name="container7">-->
                <!--                <wm-text name="textConfigValue"></wm-text>-->
                <!--            </wm-container>-->
                <!--        </wm-composite>-->
                <!--    </wm-gridcolumn>-->
                <!--</wm-gridrow>-->
                <!--<wm-gridrow name="gridrow4">-->
                <!--    <wm-gridcolumn columnwidth="12" name="gridcolumn6">-->
                <!--        <wm-composite name="composite10">-->
                <!--            <wm-label class="col-md-3 control-label" name="label10" caption="bind:appLocale.LABEL_CONFIG_STATUS"></wm-label>-->
                <!--            <wm-container class="col-md-9" name="container10">-->
                <!--                <wm-select name="selectConfigStatus" dataset="bind:Variables.stvConfigStatus.dataSet" datafield="key" displayfield="dataValue" orderby="dataValue:desc"></wm-select>-->
                <!--            </wm-container>-->
                <!--        </wm-composite>-->
                <!--    </wm-gridcolumn>-->
                <!--</wm-gridrow>-->
                <!--<wm-gridrow name="gridrow5">-->
                <!--    <wm-gridcolumn columnwidth="12" name="gridcolumn7">-->
                <!--        <wm-composite name="composite11">-->
                <!--            <wm-label class="col-md-3 control-label" name="label11" caption="bind:appLocale.LABEL_CONFIG_DESCRIPTION"></wm-label>-->
                <!--            <wm-container class="col-md-9" name="container11">-->
                <!--                <wm-textarea name="textareaConfigDesc"></wm-textarea>-->
                <!--            </wm-container>-->
                <!--        </wm-composite>-->
                <!--    </wm-gridcolumn>-->
                <!--</wm-gridrow>-->
                <wm-gridrow name="gridrow5_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn5_1">
                        <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="createClientLocationConfigForm" on-submit="createClientLocationConfigFormSubmit($event, $scope, $formData)">
                            <wm-layoutgrid columns="1" name="layoutgrid3">
                                <wm-gridrow name="gridrow6">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                                        <wm-form-field name="selectConfigKey" readonly="false" displayname="bind:appLocale.LABEL_KEY" key="RequestBody.configId" type="integer" show="true" widget="select" dataset="bind:Variables.configList.dataSet" datafield="configId"
                                            displayfield="configName" required="true" defaultvalue="bind:Variables.stvEditLocationConfig.dataSet.configId" placeholder="Select value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow7">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                                        <wm-form-field name="textConfigValue" readonly="false" displayname="bind:appLocale.LABEL_VALUE" key="RequestBody.configValue" type="string" show="true" widget="text" required="true" defaultvalue="bind:Variables.stvEditLocationConfig.dataSet.configValue"
                                            maxchars="25" inputtype="text" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow8">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                                        <wm-form-field name="textConfigDescription" readonly="false" displayname="bind:appLocale.LABEL_DESCRIPTION" key="RequestBody.locConfigDescription" type="string" show="true" widget="textarea" required="true" defaultvalue="bind:Variables.stvEditLocationConfig.dataSet.configDescription"
                                            maxchars="250" placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow9">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                                        <wm-form-field name="selectConfigStatus" readonly="false" displayname="bind:appLocale.LABEL_STATUS" key="RequestBody.configStatus" type="string" show="true" widget="select" dataset="bind:Variables.stvConfigStatus.dataSet"
                                            datafield="key" displayfield="dataValue" required="true" defaultvalue="bind:Variables.stvEditLocationConfig.dataSet.configStatus" layout="inline" placeholder=""></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-form>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" type="button" margin="unset 0.5em" name="cancelButton" on-click="Widgets.dialogManageClientLocation.close()"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" name="Save" on-click="SaveClick($event, $scope)" type="submit"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>