<wm-page data-ng-controller="LocationPaymentPlanPageController" pagetitle="Location Payment Plan" name="page1">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <!--<wm-breadcrumb dataset="bind:Variables.stvBreadcrumb.dataSet" name="breadcrumb" itemid="label" itemlabel="label" itemicon="icon" itemlink="link"></wm-breadcrumb>-->
            <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown"></wm-select>
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-table name="paymentPlanListTable" title="bind:appLocale.LABEL_LOCATION_PAYMENT_PLAN" dataset="bind:Variables.stvPaymentPlan.dataSet" navigation="Basic" showrecordcount="false" navigationalign="right" showheader="true" on-beforedatarender="clientsListTableBeforedatarender($scope, $data, $columns)"
                    on-datarender="clientsListTableDatarender($scope, $data)">
                    <wm-table-column binding="location" caption="bind:appLocale.LABEL_LOCATION" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="minAmount" caption="bind:appLocale.LABEL_MIN_AMOUNT" width="150px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="maxAmount" caption="bind:appLocale.LABEL_MAX_AMOUNT" width="150px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="months" caption="bind:appLocale.LABEL_NO_OF_MONTHS" width="150px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="amountCollectedUpfront" caption="bind:appLocale.LABEL_AMOUNT_COLLECTED_UPFRONT" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="100px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_PLAN" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_PLAN" action="addNewRowAction($event);Widgets.managePaymentPlanDialog.open()"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="bind:appLocale.LABEL_UPDATE_CLIENT" action="updaterowAction($event);Widgets.managePaymentPlanDialog.open()"
                        disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="viewManagePaymentPlan">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:appLocale.LABEL_PAYMENT_PLAN" iconclass="wi wi-file-text" name="managePaymentPlanDialog" width="50%">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="cancelButton"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="createClientForm" on-submit="createClientFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-form-field name="selectlocation" readonly="false" displayname="bind:appLocale.LABEL_LOCATION" key="RequestBody.clientStatus" type="string" show="true" widget="select" placeholder="bind:appLocale.LABEL_SELECT_VALUE" layout="inline"
                                defaultvalue="bind:Variables.stvEditClient.dataSet.status" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                            <wm-form-field name="textMinAmount" readonly="false" displayname="bind:appLocale.LABEL_MINIMUM_AMOUNT" key="RequestBody.clientShortName" type="string" show="true" widget="text" placeholder="Enter value" required="false" maxchars="100"
                                inputtype="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                            <wm-form-field name="textMaxAmount" readonly="false" displayname="bind:appLocale.LABEL_MAXIMUM_AMOUNT" key="RequestBody.clientCode" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true"
                                maxchars="25"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                            <wm-form-field name="textMonths" readonly="false" displayname="bind:appLocale.LABEL_NO_OF_MONTHS" key="RequestBody.clientWebSite" type="string" show="true" widget="text" inputtype="search" placeholder="Enter value" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5_1">
                            <wm-form-field displayname="bind:appLocale.LABEL_COLLECTION_UPFRONT" widget="radioset" show="true" type="custom" name="form_field5" layout="inline" dataset="Amount, Percentage" required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6_1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                            <wm-form-field readonly="false" displayname="." key="RequestBody.clientWebSite" type="string" show="true" widget="text" inputtype="search" placeholder="Enter value" name="form_field6" required="false"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>