.wm-app .app-navbar {
    box-shadow: none !important;
}

.app-menu.open .dropdown-menu.horizontal {
    width: 100%;
    display: block;
    position: absolute;
}

.wm-app .app-nav .app-nav-item>.dropdown.open,
.app-menu .dropdown-submenu {
    position: static;
}

.nav-view {
    width: 94.5%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-bottom: 3px solid #007855 !important;
}

li.app-nav-item.active {
    border-bottom: 3px solid #38b77c;
}

.wm-app .app-nav .app-nav-item:hover {
    border-bottom: 3px solid #38b77c;
}

ul[name="leftTopLinks"] .fa-caret-right:before {
    content: "\f0d7";
}

ul[name="rightTopLinks"] li.app-nav-item.active {
    border: 0 none;
}

.wm-app .app-navbar .navbar-nav li a {
    padding: 0.95em;
}

ul[name="leftTopLinks"] {
    width: 100%;
}

ul[name="rightTopLinks"] {
    bottom: 52px;
}

.nav-settings {
    width: 100%;
    bottom: 10px;
    margin-top: -10px !important;
}

.app-top-nav {
    max-height: 40px;
}

.wm-app .app-nav .app-nav-item {
    position: static;
}

.wm-app .app-navbar .navbar-nav li>.dropdown .dropdown-menu {
    background-color: #007855;
    text-color: #fff;
    top: 49px;
}

.wm-app .app-navbar .navbar-nav li>.dropdown .dropdown-menu a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.wm-app .app-menu .dropdown-submenu:hover>.dropdown-menu {
    background-color: #38b77c!important;
    display: block !important;
}

.wm-app section[name="topnav"] {
    height: 50px;
}

section[name="topnav"],
section[name="topnav"] nav {
    background-color: #ddd !important;
}

li .setting-menu {
    padding-bottom: 0.5em;
}

.wm-app .setting-menu button {
    box-shadow: none;
    border: 0 none;
    box-shadow: none;
    background: transparent;
    font-size: 1em;
    margin-top: 8px !important;
    text-transform: capitalize;
}

.wm-app .app-nav .app-nav-item:hover .setting-menu .btn {
    color: #38b77c;
}

.wm-app .app-navbar .navbar-nav li>.dropdown .dropdown-menu a {
    color: #fff;
}

.text-search {
    top: 4px;
    right: 30px;
}

.textbox-search {
    margin-top: 14px !important;
    width: 300px !important;
    height: 30px !important;
    display: inline !important;
    border: .5px #e8e8e8 solid !important;
    border-bottom-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.icon-margin {
    margin-top: 8px !important;
}


/* To make grid actions to align with grid*/

.wm-app .app-grid .panel-actions .btn {
    margin-right: 140px;
}

.wm-app .panel .panel-heading .panel-title .heading,
.wm-app .card .panel-heading .panel-title .heading {
    margin-top: 7px;
}


/*Breadcrumb*/

.wm-app .breadcrumb {
    margin-bottom: 0px;
}


/*Drop down on data table*/

.records-dropdown {
    z-index: 5;
    width: 130px !important;
    position: absolute;
    margin-top: 11px !important;
    margin-left: 1130px !important;
}


/*Pagination Prefix*/

.pagination-prefix {
    right: 0;
    position: absolute;
    bottom: 1.5em;
    z-index: 1;
    /*margin-right: 20.5em;*/
    margin-right: 14.8em;
}


/*Icon margin*/

.wm-app .caret {
    margin-left: 10px;
}


/*form dialog label on focus color*/

.wm-app .form-group.live-field .control-label,
.wm-app .form-group.live-field.active .control-label {
    color: inherit;
    font-weight: bold;
}


/*.wm-app .form-group .form-control-static+.form-control,*/


/*.wm-app .form-group .form-control-static+.form-control+.help-block,*/


/*.wm-app .live-field .app-search,*/


/*.wm-app .live-field.form-group .help-block {*/


/*    color: #38b77c*/


/*}*/