<wm-page data-ng-controller="MasterDataServicePageController" pagetitle="Master Data Service" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown"
                    on-change="selectRecordsChange($event, $scope, newVal, oldVal)"></wm-select>
                <wm-table name="serviceListTable" title="bind:appLocale.LABEL_MASTER_DATA+'- '+appLocale[&quot;LABEL_SERVICE&quot;]" dataset="bind:Variables.serviceList.dataSet" navigation="Basic" navigationalign="right" on-beforedatarender="serviceListTableBeforedatarender($scope, $data, $columns)">
                    <wm-table-column binding="name" caption="bind:appLocale.LABEL_NAME" width="30%" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="code" caption="bind:appLocale.LABEL_Code" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_SERVCIE" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="Widgets.serviceDialog.open();addNewRowAction($event)" shortcutkey=""
                        disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="bind:appLocale.LABEL_EDIT" action="Widgets.serviceDialog.open();updaterowAction($event)"
                        disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="serviceView">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:appLocale.LABEL_SERVICE" iconclass="wi wi-file-text" name="serviceDialog">
            <wm-dialogactions name="serviceDialogactions">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="cancelButton"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="serviceForm" on-submit="serviceFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid2">
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                            <wm-form-field name="nameText" readonly="false" displayname="bind:appLocale.LABEL_NAME" key="RequestBody.name" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true" defaultvalue="bind:Variables.stvEditService.dataSet.name"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                            <wm-form-field name="codeText" readonly="false" displayname="bind:appLocale.LABEL_Code" key="RequestBody.code" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true" defaultvalue="bind:Variables.stvEditService.dataSet.code"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>