<wm-page data-ng-controller="MasterDataPayerPageController" pagetitle="Master Data Payer" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown"
                    on-change="selectRecordsChange($event, $scope, newVal, oldVal)"></wm-select>
                <wm-table name="payerListTable" title="bind:appLocale.LABEL_MASTER_DATA+'- '+appLocale[&quot;LABEL_PAYER&quot;]" dataset="bind:Variables.payerList.dataSet" navigation="Basic" navigationalign="right" on-beforedatarender="payerListTableBeforedatarender($scope, $data, $columns)">
                    <wm-table-column binding="name" caption="bind:appLocale.LABEL_NAME" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="friendlyName" caption="bind:appLocale.LABEL_FRIENDLY_NAME" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="code" caption="bind:appLocale.LABEL_Code" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="ediPayerId" caption="bind:appLocale.LABEL_EDI_PAYER_ID" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="website" caption="bind:appLocale.LABEL_WEBSITE" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="status" caption="bind:appLocale.LABEL_STATUS" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_PAYER" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_PAYER" action="Widgets.payerDialog.open();addNewRowAction($event)"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="bind:appLocale.LABEL_EDIT" action="Widgets.payerDialog.open();updaterowAction($event)" disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="payerView">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:appLocale.LABEL_PAYER" iconclass="wi wi-file-text" name="payerDialog">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" on-click="closeDialog()" name="cancelButton"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" margin="unset 0.5em" name="saveButton" on-click="saveButtonClick($event, $scope)"></wm-button>
            </wm-dialogactions>
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="payerForm" on-submit="payerFormSubmit($event, $scope, $formData)">
                <wm-layoutgrid columns="1" name="layoutgrid2">
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                            <wm-form-field name="nameText" readonly="false" displayname="bind:appLocale.LABEL_NAME" key="RequestBody.name" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true" defaultvalue="bind:Variables.stvEditPayer.dataSet.name"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                            <wm-form-field name="friendlyNameText" readonly="false" displayname="bind:appLocale.LABEL_FRIENDLY_NAME" key="RequestBody.friendlyName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true"
                                defaultvalue="bind:Variables.stvEditPayer.dataSet.friendlyName"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                            <wm-form-field name="codeText" readonly="false" displayname="bind:appLocale.LABEL_Code" key="RequestBody.code" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditPayer.dataSet.code"
                                required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                            <wm-form-field name="ediPayerIdText" readonly="false" displayname="bind:appLocale.LABEL_EDI_PAYER_ID" key="RequestBody.ediPayerId" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditPayer.dataSet.ediPayerId"
                                required="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                            <wm-form-field name="websiteText" readonly="false" displayname="bind:appLocale.LABEL_WEBSITE" key="RequestBody.website" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" required="true" defaultvalue="bind:Variables.stvEditPayer.dataSet.website"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                            <wm-form-field name="descriptionText" readonly="false" displayname="bind:appLocale.LABEL_DESCRIPTION" key="RequestBody.description" type="string" show="true" widget="textarea" placeholder="Enter value" defaultvalue="bind:Variables.stvEditPayer.dataSet.description"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow10">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                            <wm-form-field name="statusSelect" readonly="false" displayname="bind:appLocale.LABEL_STATUS" key="RequestBody.status" type="string" show="true" widget="select" placeholder="Select value" required="true" dataset="bind:Variables.stvStatus.dataSet"
                                datafield="key" displayfield="dataValue" defaultvalue="bind:Variables.stvEditPayer.dataSet.status"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-page>