<wm-page data-ng-controller="SettingsClientLocationsPageController" pagetitle="Settings Client Locations" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <!--<wm-breadcrumb dataset="bind:Variables.stvBreadcrumb.dataSet" name="breadcrumb" itemlabel="label" itemicon="icon" itemlink="link" on-beforenavigate="breadcrumbBeforenavigate($isolateScope, $item)"></wm-breadcrumb>-->
            <wm-container name="containerPaginationPrefix">
                <wm-label padding="unset 0.5em" name="label1" caption="bind:paginationPrefix" class="pagination-prefix"></wm-label>
                <wm-select name="selectRecords" dataset="bind:Variables.stvPaginationList.dataSet" datafield="dataValue" displayfield="displayValue" datavalue="bind:Variables.stvPaginationList.dataSet[0].dataValue" class="records-dropdown"
                    on-change="selectRecordsChange($event, $scope, newVal, oldVal)"></wm-select>
                <wm-table name="locationListTable" title="bind:Variables.clientDetailsById.dataSet.businessName+': '+appLocale[&quot;LABEL_LOCATIONS&quot;]" dataset="bind:Variables.locationList.dataSet" navigation="Basic" on-beforedatarender="locationListTableBeforedatarender($scope, $data, $columns)"
                    navigationalign="right" pagesize="5" enablesort="true" gridclass="table-bordered" on-datarender="locationListTableDatarender($scope, $data)">
                    <!--<wm-table-column binding="emailId" caption="bind:appLocale.LABEL_CONTACT_INFO" widget-type="label" edit-widget-type="text" type="string" show="true" readonly="false">-->
                    <!--<wm-label caption="{{'Phone: '+row.getProperty('phoneNumber')+'</br>'+'Fax: '+row.getProperty('faxNumber')+'</br>'+'Email: '+row.getProperty('emailId')}}" class="" data-ng-class=""></wm-label>-->
                    <!--<hip-address variable="row"></hip-address>-->
                    <!--</wm-table-column>-->
                    <wm-table-column binding="hipClientLocationByParentLocationId.locationName" caption="bind:appLocale.LABEL_PARENT_LOCATION" widget-type="label" width="200px" edit-widget-type="text" type="string" searchable="false" show="true" readonly="false">
                        <wm-label caption="{{(row.getProperty('parentLocationId')===null)?'-':row.getProperty('parentLocationName')}}" class="" data-ng-class=""></wm-label>
                    </wm-table-column>
                    <wm-table-column binding="locationName" caption="bind:appLocale.LABEL_LOCATION_NAME" width="200px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="ehrLocationId" caption="bind:appLocale.LABEL_EHR_LOCATION_ID" edit-widget-type="text" type="string" searchable="false" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="ehrLocationName" caption="bind:appLocale.LABEL_EHR_LOCATION_NAME" edit-widget-type="text" type="string" searchable="false" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="city" caption="bind:appLocale.LABEL_CITY" width="100px" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="state" caption="bind:appLocale.LABEL_STATE" width="100px" textalignment="center" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="locationStatus" caption="bind:appLocale.LABEL_STATUS" widget-type="label" width="100px" edit-widget-type="text" type="string" show="true" readonly="false">
                        <wm-label caption="{{$root.formatStatusDisplay(row.getProperty('locationStatus'))}}" class="" data-ng-class=""></wm-label>
                    </wm-table-column>
                    <wm-table-column binding="rowOperations" caption="bind:appLocale.LABEL_ACTIONS" width="170px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="bind:appLocale.LABEL_ADD_LOCATION" show="true" class="btn-primary" iconclass="wi wi-plus" title="bind:appLocale.LABEL_ADD_LOCATION" action="addNewRowAction($event);Widgets.managelocation.open()"
                        shortcutkey="" disabled="false" widget-type="button" position="header"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-mode-edit" title="bind:appLocale.LABEL_EDIT" action="updaterowAction($event);Widgets.managelocation.open()"
                        disabled="false"></wm-table-row-action>
                    <wm-table-row-action key="customRow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-contacts" title="bind:appLocale.LABEL_CONTACTS" action="Actions.ngLocationContacts.invoke()" disabled="false"></wm-table-row-action>
                    <wm-table-row-action key="customRow1" display-name="" show="true" class="btn-transparent" iconclass="wi wi-view-list" title="bind:appLocale.LABEL_SETTINGS" action="Actions.ngLocationConfig.invoke()" disabled="false"></wm-table-row-action>
                    <wm-table-row-action key="customRow3" display-name="" show="true" class="btn-transparent" iconclass="wi wi-tablet-mac" title="bind:appLocale.LABEL_ASSET_LIST" action="Actions.ngSettingsClientLocationAssets.invoke()"
                        disabled="false"></wm-table-row-action>
                    <wm-table-row-action key="customRow2" display-name="" show="true" class="btn-transparent" iconclass="wi wi-settings" title="bind:appLocale.LABEL_INTEGRATION" action="Actions.ngLocationIntegrationConfiguration.invoke()"
                        disabled="false"></wm-table-row-action>
                    <wm-table-row-action key="customRow4" display-name="" show="true" class="btn-transparent" iconclass="wi wi-location-city" title="bind:appLocale.LABEL_LOCATION_INTEGRATION" action="Actions.ngLocationIntegration.invoke()"
                        disabled="false"></wm-table-row-action>
                </wm-table>
            </wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="viewManageLocation">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:Variables.clientDetailsById.dataSet.businessName+': '+appLocale[&quot;LABEL_LOCATION&quot;]" iconclass="" name="managelocation" width="50%" on-opened="Variables.stateList.invoke();Variables.timeZoneList.invoke();Variables.parentlocationList.invoke()">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow23">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn44">
                        <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="put" captionalign="left" name="locationForm" on-submit="locationFormSubmit($event, $scope, $formData)">
                            <wm-layoutgrid columns="1" name="layoutgrid3">
                                <wm-gridrow name="gridrow19_1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn19_1">
                                        <wm-label padding="0px unset 0px 12px" caption="bind:appLocale.LABEL_NAME" class="h3" fontweight="bold" name="label2" margin="0px unset"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow4">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                                        <wm-form-field name="parentLocation" readonly="false" displayname="bind:appLocale.LABEL_PARENT_LOCATION" key="RequestBody.parentLocationId" type="string" show="true" widget="select" placeholder="<None>" dataset="bind:Variables.parentlocationList.dataSet"
                                            datafield="id" displayfield="locationName" defaultvalue="bind:Variables.stvEditLocation.dataSet.parentLocationId" on-change="parentLocationChange($event, $scope, newVal, oldVal)"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow5">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                                        <wm-form-field name="locationName" readonly="false" displayname="bind:appLocale.LABEL_LOCATION_NAME" key="RequestBody.locationName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"
                                            defaultvalue="bind:Variables.stvEditLocation.dataSet.locationName" required="true" maxchars="100"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow6">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                                        <wm-form-field name="shortLocationName" readonly="false" displayname="bind:appLocale.LABEL_SHORT_NAME" key="RequestBody.shortLocationName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"
                                            defaultvalue="bind:Variables.stvEditLocation.dataSet.shortLocationName" maxchars="50"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow8">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                                        <wm-form-field name="locationDescription" readonly="false" displayname="bind:appLocale.LABEL_LOCATION_DESCRIPTION" key="RequestBody.locationDescription" type="string" show="true" widget="textarea" placeholder="Enter value"
                                            defaultvalue="bind:Variables.stvEditLocation.dataSet.locationDescription" maxchars="250"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow9">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                                        <wm-form-field name="ehrLocationId" readonly="false" displayname="bind:appLocale.LABEL_EHR_LOCATION_ID" key="RequestBody.ehrLocationId" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"
                                            defaultvalue="bind:Variables.stvEditLocation.dataSet.ehrLocationId" maxchars="20"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow10">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                                        <wm-form-field name="ehrLocationName" readonly="false" displayname="bind:appLocale.LABEL_EHR_LOCATION_NAME" key="RequestBody.ehrLocationName" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"
                                            defaultvalue="bind:Variables.stvEditLocation.dataSet.ehrLocationName" maxchars="100"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow11">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                                        <wm-form-field name="timezone" readonly="false" displayname="bind:appLocale.LABEL_TIME_ZONE" key="RequestBody.timezoneId" type="integer" show="true" widget="select" placeholder="Enter value" dataset="bind:Variables.timeZoneList.dataSet"
                                            datafield="All Fields" displayfield="timezoneName" defaultvalue="bind:Variables.stvEditLocation.dataSet.timeZone"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow29">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn29">
                                        <wm-label padding="0px unset 0px 12px" name="label1" caption="bind:appLocale.LABEL_ADDRESS" class="h3" fontweight="bold" margin="0px unset"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow12">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                                        <wm-form-field name="address1" readonly="false" displayname="bind:appLocale.LABEL_ADDRESS_LINE1" key="RequestBody.address1" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditLocation.dataSet.address1"
                                            maxchars="150"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow13">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn12">
                                        <wm-form-field name="address2" readonly="false" displayname="bind:appLocale.LABEL_ADDRESS_LINE2" key="RequestBody.address2" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditLocation.dataSet.address2"
                                            maxchars="150"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow14">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn13">
                                        <wm-form-field name="city" readonly="false" displayname="bind:appLocale.LABEL_CITY" key="RequestBody.city" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditLocation.dataSet.city"
                                            required="true" maxchars="150"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow15">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn14">
                                        <wm-form-field name="state" readonly="false" displayname="bind:appLocale.LABEL_STATE" key="RequestBody.stateId" type="integer" show="true" widget="select" placeholder="Enter value" dataset="bind:Variables.stateList.dataSet"
                                            datafield="stateCode" displayfield="stateName" defaultvalue="bind:Variables.stvEditLocation.dataSet.state" required="true"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow16">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn15">
                                        <wm-form-field name="zip" readonly="false" displayname="bind:appLocale.LABEL_ZIP_CODE" key="RequestBody.zip" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditLocation.dataSet.zip"
                                            maxchars="20"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <!--<wm-gridrow name="gridrow17"><wm-gridcolumn columnwidth="12" name="gridcolumn16"><wm-form-field name="phoneNumber" readonly="false" displayname="bind:appLocale.LABEL_PHONE_NUMBER" key="RequestBody.phoneNumber" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditLocation.dataSet.phoneNumber"
                                            displayformat="(999) 999-9999" maxchars="20"></wm-form-field></wm-gridcolumn></wm-gridrow><wm-gridrow name="gridrow18"><wm-gridcolumn columnwidth="12" name="gridcolumn17"><wm-form-field name="fax" readonly="false" displayname="bind:appLocale.LABEL_FAX" key="RequestBody.fax" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value" defaultvalue="bind:Variables.stvEditLocation.dataSet.faxNumber"
                                            maxchars="20"></wm-form-field></wm-gridcolumn></wm-gridrow><wm-gridrow name="gridrow19"><wm-gridcolumn columnwidth="12" name="gridcolumn18"><wm-form-field name="emailId" readonly="false" displayname="bind:appLocale.LABEL_EMAIL_ID" key="RequestBody.emailId" type="string" show="true" widget="text" inputtype="email" placeholder="Enter value" defaultvalue="bind:Variables.stvEditLocation.dataSet.emailId"
                                            regexp=".*^(\w[-._+\w]*\w@\w[-._\w]*\w\.\w{2,3})$" maxchars="50"></wm-form-field></wm-gridcolumn></wm-gridrow>-->
                                <wm-gridrow name="gridrow20">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn19">
                                        <wm-form-field name="locStatus" readonly="false" displayname="bind:appLocale.LABEL_STATUS" key="RequestBody.locStatus" type="string" show="true" widget="select" placeholder="Select value" dataset="bind:Variables.locationStatus.dataSet"
                                            datafield="dataValue" displayfield="key" defaultvalue="bind:Variables.stvEditLocation.dataSet.locationStatus" required="true"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-form>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-default" caption="bind:appLocale.LABEL_CANCEL" type="button" margin="unset 0.5em" name="buttonCancel" on-click="Widgets.managelocation.close()"></wm-button>
                <wm-button class="btn-primary" caption="bind:appLocale.LABEL_SAVE" type="button" name="update" on-click="updateClick($event, $scope)"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="view2">
        <wm-alertdialog name="notificationalertdialog" controller="NotificationDialogController" notificationdialog="alert" message="{{notification.text}}" title="{{notification.title}}" oktext="{{notification.okButtonText}}" alerttype="{{notification.alerttype}}"
            on-ok="variableOnOk()" on-close="variableOnClose()"></wm-alertdialog>
    </wm-view>
</wm-page>